@charset "utf-8";

.fundofixo{
    background: url(../images/churras-carne.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#btn-padrao{
    width: 100px;
    height: 25px;
}
#btn-Add{
    width: 150px;
    height: 40px;
}